<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<appSettings>
	<add key="StimulSoft" value="6vJhGtLLLz2GNviWmUTrhSqnOItdDwjBylQzQcAOiHkcgIvwL0jnpsDqRpWg5FI5kt2G7A0tYIcUygBh1sPs7uFgRjfXq4K3MbJPi0KZyJrRkSyIAx4HG9z9p++V6ZXlvi7ZruNmJUedDUVcY2ivxcBIs6B/H/aGXxAl1jxV3O3rreWajuSb58YLfCzZKT8a4aIput3mvgwP/gAxXCsrkqI04JXQUUBGhipMDo/aNqLM30SdAAS3KYcLhmpDwxEYBkyoev+JEKm2G6S2WyBpVTvT9NXvosBIE2DBjdLIg1JLUrx56+m+q7Jt4+4uQBlctypoQuIWotv//psS3g3HcFLe4F+omiP0b0xqyXLl1gdQNGqgvIpAnwr7bsADYzJhf1Lh4Kvn5GpxILF3KUl1V+LE3/0MqoKa14U7WXLOWSNEFX/wN4+TWmjZtzYJG1DN1du//7RtbCJ3b9qr64+Cu7x3xxGl+bwliebs4j0ddAHPvWw6EJBUtyCScDX/4iA5VRnOeNGL0E8WdQ+tuZY4wYV/hFPHUFKg619QmTShF62cztMEYZNF6AOnuBBCfR3A" />
	<add key="Company" value="Your Compony name" />
	<add key="AppSerial" value="" />
	<add key="AppToken" value="" />
	<add key="DBServer" value="" />
	<add key="DBName" value="" />
	<add key="DBUser" value="" />
	<add key="DBPassword" value="" />
	<add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
	</appSettings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<!--<connectionStrings>
		--><!--<add name="DBConnectionTotalSystem" connectionString="Data Source=Javad;Initial Catalog=NN;User Id=sa;password=sqladmin;Connection Timeout=30;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=100;Pooling=true;" providerName="System.Data.SqlClient" />--><!--
		<add name="DBConnectionTotalSystem" connectionString="" providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
	<connectionStrings>
		<add name="DBConnectionTotalSystem" connectionString="Data Source=Javad;Initial Catalog=KishnatTest;User Id=sa;password=sqladmin;Connection Timeout=30;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=100;Pooling=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>